<div class="Header">
  <div class="navgrid_7">
    {{!-- <a href="">Home</a> / <a href="">Logout</a> --}}
  </div>
</div>
<div class="wrapper">
  <h1>
    BILL BOARD
  </h1>
</div>

<div id="accordion">
  {{#each category}}
    <h3 class="category">
      {{#if isIncome}}  
        <span class="catTitle">{{name}}</span>
        <div class="row">
          <div class="col-sm-4 title"><span >Total Income</span></div>
          <div class="col-sm-4 title" ><span>Total Budgeted</span></div>
          <div class="col-sm-4 title" ><span>Total Expenses</span></div>
        </div>
        <div class="row">
          <div class="col-sm-4"><span id="total-income">${{totalIncome}}</span></div>
          <div class="col-sm-4 budget" id="total-budget"><span>${{totalBudgets}}</span></div>
          {{#if isOverBudget}}
            <div class="col-sm-4 over-expense" id="total-expenses"><span>${{totalExpenses}}</span></div>
          {{else}}
            <div class="col-sm-4 under-expense" id="total-expenses"><span>${{totalExpenses}}</span></div>
          {{/if}}
        </div>
      {{else}}
        <span class="catTitle">{{name}}</span>
        <div class="row">
          <div class="col-sm-2 budget {{class}}">${{budgetTotal}}</div>
          {{#if isOverBudget}}
            <div class="col-sm-2 over-expense expense-total {{class}}">${{expensesTotal}}</div>
          {{else}}
            <div class="col-sm-2 under-expense expense-total {{class}}">${{expensesTotal}}</div>
          {{/if}}
          <div class="col-sm-1 actualPercent"><span>{{budgetPercent}}</span></div>
          <div class="col-sm-2"><span class="suggestion">${{suggestedAmt}}</span></div>
          <div class="col-sm-1"><span class="suggestion">[{{startPercent}}%]</span></div>
          <div class="col-sm-4"><span class="suggestion">(Range: {{minPercent}}% to {{maxPercent}}%)</span></div>
        </div>
      {{/if}}
    </h3>
    <div>
      <div class="row entries">
        <div class="col-sm-6">
          <label class="title">Budget:</label>
          <div class="budgets-container {{class}}">
            {{#each budgets}}
              <div data-id={{id}} class="budget-entry entry">
                <input type="text" class="budget entry-name noboarder" value="{{name}}">: $</input>
                <input type="text" class="budget entry-amount noboarder" value="{{amount}}"></input>
                <button class="delete-element">x</button>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="col-sm-6">
          <label class="title">Expenses:</label>
          <div class="expenses-container {{class}}">
            {{#each expenses}}
              <div data-id={{id}} class="expense-entry entry">
                <input type="text" class="expense entry-name noboarder" value="{{name}}">: $</input>
                <input type="text" class="expense entry-amount noboarder" value="{{amount}}"></input>
                <button class="delete-element">x</button>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <form>
        <label>Add item: </label>
        <input class="entry-title" list={{name}} >
        <datalist id={{name}}>
          {{#each subCategories}}
            <option value="{{this}}"></option>
          {{/each}}
        </datalist>
        <label>Amount: </label>
        <input type="text" data-name={{name}} class="entry-amount">
        {{#unless isIncome}}
        <label>For: </label>
        <select name="entry-type" data-name={{name}} class="entry-type">
          <option value="Budgeting">Budgeting</option>
          <option value="Expense">Expense</option>
        </select>
        {{/unless}}
        <button data-name={{name}} class="save">Save</button>
      </form>

    </div>
  {{/each}}
</div>

