<div class="Header">
  <div class="navgrid_7">
    {{!-- <a href="">Home</a> / <a href="">Logout</a> --}}
  </div>
</div>
<div class="wrapper">
  <h1>
    BILL BOARD
  </h1>
</div>
{{!-- var structure
category[
  income {
    totalIncome,
    allIncome,
    totalBudget,
    totalExpenses
  },
  {
    name,
    minPercent,
    maxPercent,
    startPercent,
    suggestedAmt,
    budgetsTotal,
    expensesTotal,
    subcategories [],
    budgets [],
    expenses [],
  }
]
--}}
<div id="accordion">
  {{#each category}}
    <h3 class="category">
      {{#if isIncome}}  
        <span class="catTitle">{{name}}</span>
        <div class="row">
          <div class="col-sm-2"><span>${{totalIncome}}</span></div>
          <div class="col-sm-2 expence"><span>${{this.totalExpences}}</span></div>
          <div class="col-sm-2 budget"><span>${{this.totalBudgets}}</span></div>
        </div>
      {{else}}
        <span class="catTitle">{{name}}</span>
        <div class="row">
          <div class="col-sm-2 budget"><span>${{budgetTotal}}</span></div>
          <div class="col-sm-2 expense"><span>${{expensesTotal}}</span></div>
          <div class="col-sm-1 actualPercent"><span>{{budgetPercent}}</span></div>
          <div class="col-sm-2"><span class="suggestion">${{suggestedAmt}}</span></div>
          <div class="col-sm-1"><span class="suggestion">[{{startPercent}}%]</span></div>
          <div class="col-sm-4"><span class="suggestion">(Range: {{minPercent}}% to {{maxPercent}}%)</span></div>
        </div>
      {{/if}}
    </h3>
    <div>
      <div class="row">
        <div class="col-sm-6 budgets-container {{class}}">
          {{#each budgets}}
            <div class="budget-entry entry">
              <label class="budget-entry">{{name}}:  $</label>
              <input type="text" class="entry-amount budget-entry noboarder" value="{{amount}}"></input>
              <button class="delete">X</button>
            </div>
          {{/each}}
        </div>
        <div class="col-sm-6 expenses-container {{class}}">
          {{#each expenses}}
            <div class="expense-entry entry">
              <label class="expense-entry">{{name}}:  $</label>
              <input type="text" class="entry-amount expense-entry noboarder" value="{{amount}}"></input>
              <button class="delete">X</button>
            </div>
          {{/each}}
        </div>
      </div>
      <form>
        <label>Add item: </label>
        <input class="entry-name" list={{this.name}} >
        <datalist id={{name}}>
          {{#each subCategories}}
            <option value="{{this}}"></option>
          {{/each}}
        </datalist>
        <label>Amount: </label>
        <input type="text" class="entry-amount">
        <label>For: </label>
        <select name="entry-type" class="entry-type">
          <option value="Budgeting">Budgeting</option>
          <option value="Expense">Expense</option>
        </select>
        <button class="save">Save</button>
      </form>
    </div>
  {{/each}}
</div>

